.graphic__chart
	max-width 60rem
	margin 0 auto
	padding 1rem
	
	.year
		margin-bottom 2rem
		display flex
		position relative

	.year:first-child
		&:before
			content '#1'
			display block
			position absolute
			top 0
			left 5rem
			transform translateY(-120%)
			font-size 0.75rem
		&:after
			content '#50'
			display block
			position absolute
			top 0
			right 0
			transform translateY(-120%)
			font-size 0.75rem
			
	.year__label
		width 5rem
		padding-right 0.5rem
		font-size 0.8rem
		line-height 2rem
		text-transform capitalize
		text-align right
		font-weight bold
		
	.year__plays
		display flex
		flex-grow 1
		width auto
		
	.play 
		width 2%
		height 2rem
		border-right 1px solid white
		opacity 0.6
		cursor pointer
		&.is-active
			border 3px solid $off-black
			opacity 1
		&:hover
			border 3px solid $off-black
			opacity 1
	
	.chart__key
		display flex
		margin-top 2rem
		p
			font-size 0.8rem
			font-weight bold
			display inline-block
			width 6rem
			text-align center
			padding 0 1rem
		