.graphic__chart
	width 55%
	padding 1rem

	.year__chart
		position relative
		margin-bottom 6rem

		&:before
			content '#1'
			font-size 0.6rem
			font-weight bold
			display block
			position absolute
			bottom 0
			left $chart-margin

		&:after
			content '#100'
			font-size 0.6rem
			font-weight bold
			display block
			position absolute
			bottom 0
			right $chart-margin

	.year__text
		display flex
		align-items center
		padding-bottom 5rem
		justify-content space-between

	.text__label
		width auto
		padding 0 1rem
		font-size 2rem
		text-transform capitalize
		font-weight 400
		line-height 2.8rem
		letter-spacing -.02em
		color black
		align-self flex-end
		&:before
			content 'Most-viewed plays'
			display block
			font-size 0.6rem
			text-transform uppercase
			color $gray
			font-weight 500
			line-height 1.5
			letter-spacing .04em

	.text__description
		font-size 0.9rem
		line-height 1.6
		font-weight 400
		width 18rem
		align-self flex-end
		color black
		color rgba(0,0,0,.8)

	.year__title
		text-align right
		color $off-black
		font-size 0.6rem
		font-weight 500
		padding-right $chart-margin
		letter-spacing 0.03em
		color black
		text-transform uppercase


	.axis__label
		text
			font-size 0.6rem
			fill $gray
		line
			stroke lighten($gray, 20)
			stroke-width 0.5px
			stroke-dasharray 4px 4px
	.item
		cursor pointer
		stroke #fff
		fill $gray-light
		&.is-active
			fill $red
		&.is-player
			fill $blue
		&:hover
			fill $gray

	.year__detail
		position absolute
		bottom 0
		left 0
		width 15rem
		display flex
		padding 0.5rem
		border 1px solid #aaa
		border-radius 5px
		background #fff
		box-shadow 0 0 0.5rem #fff
		// &:before
		// 	content 'Click to play'
		// 	display block
		// 	text-transform uppercase
		// 	position absolute
		// 	transform translate(-0.5rem, -225%)
		// 	font-size 0.6rem
		// 	color $gray
		// 	font-weight 500


		&.is-visible
			visibility visible

	.detail__text
		width 65%
		font-size 0.65rem
		font-weight 700
		line-height 1.2
		padding 0 1em
		span
			padding-bottom 0.25em
			color $gray-dark
			font-weight 400
		.text__title
			display block
			color black
			font-weight 500
			font-size .75rem
	.detail__thumbnail
		width 35%
		height 3.5rem
		z-index set-index('overlay')
		background-color black
		background-repeat no-repeat
		background-position center center
		background-size cover

	.chart__key
		display flex
		margin-top 2rem
		p
			font-size 0.8rem
			font-weight bold
			display inline-block
			width 6rem
			text-align center
			padding 0 1rem
