.graphic__chart
	max-width 60rem
	margin 0 auto
	padding 1rem
	
	.year
		margin-bottom 1.5rem
		display flex
		position relative
		align-items center

	.year:first-child
		&:before
			content '#1'
			display block
			position absolute
			top 0
			left 5rem
			// transform translateY(-120%)
			font-size 0.75rem
		&:after
			content '#50'
			display block
			position absolute
			top 0
			right 0
			// transform translateY(-120%)
			font-size 0.75rem
			
	.year__label
		width 5rem
		padding-right 0.5rem
		font-size 0.8rem
		line-height 1
		text-transform capitalize
		text-align right
		font-weight bold
		
	.year__plays
		display flex
		flex-grow 1
		width auto
		flex-wrap wrap
	
	.plays__detail
		width 100%
		display block
		height 1rem
		
	.plays__items
		display flex
		width 100%
		// flex-grow 1
		
	.item 
		width 2%
		height 2rem
		// border-right 1px solid white
		cursor pointer
		position relative
		&.is-active
			border 3px solid $off-black
		&:hover
			border 3px solid $off-black
	
	.plays__annotation
		width 100%
		position relative
	.annotation__thumbnail
		display none
		width 20%
		height 600%
		position absolute
		top 0
		left 0
		transform translateY(-83.3%)
		z-index set-index('overlay')
		background black
		&.is-visible
			display block		

	.annotation__text
		color $gray-dark
		font-size 0.7rem
	
	.plays__detail
		position relative
	.detail__text
		position absolute
		font-size 0.75rem
		top 0
		left 0
	.chart__key
		display flex
		margin-top 2rem
		p
			font-size 0.8rem
			font-weight bold
			display inline-block
			width 6rem
			text-align center
			padding 0 1rem
		