.intro
	max-width 60rem
	margin 0 auto
	text-align center
	padding 2rem
	&__logo
		max-width 10rem
		margin 0 auto
		fill $gray-dark
	&__hed
		margin-top 3rem
		font-size 3rem
		font-weight 300
	&__dek
		margin-top 0.5rem
		font-weight 300