fontify($ptSerif, $ptSerif-hash, $serif)
fontify($roboto, $roboto-hash, $sans)

html, body
	background-color #fff
	color $off-black
	font-size 17px

.border-top
	border-top 1px solid #9DA09F
	margin-left 0rem
	box-sizing: border-box
	margin-bottom 3rem
	position relative

	.border-top-text
		position absolute
		top	0px
		left 0px
		right 0px
		margin 0 auto
		text-align center
		width 8rem
		background white
		letter-spacing .02rem
		top -10px
		padding 0rem .5rem
		font-size .70rem
		font-weight 500
		color #9DA09F
		text-transform uppercase

p
	line-height 1.7

.graphic
	margin 0 auto
	max-width 65rem
	display flex
	justify-content space-between
	align-items center
	position relative

.graphic__sticky
	width 40%
	position absolute
	padding 1rem 1rem 0 1rem
	top 0
	right 0
	transform translate3d(0, 0, 0)
	&.is-fixed
		position fixed
	&.is-bottom
		top auto
		bottom 0

.spacer
	height 100vh
