fontify($roboto, $roboto-hash, $sans)

html, body
	background-color #fff
	color $off-black
	font-size 17px

.border-top
	border-top 1px solid lighten($gray, 20)
	margin-bottom 1rem
	position relative
	+mq('bp-4')
		margin-bottom 2.5rem
	&__text
		position absolute
		top	0
		left 0
		right 0
		text-transform uppercase
		margin 0 auto
		text-align center
		background #fff
		width 8rem
		letter-spacing 0.0rem
		padding 0rem 0.5rem
		font-size 0.70rem
		font-weight 500
		color black
		transform translateY(-50%)

p
	line-height 1.7

.graphic
	margin 0 auto
	max-width 65rem
	display flex
	flex-wrap wrap
	position relative
	+mq('bp-4')
		justify-content space-between
		align-items center
		flex-wrap nowrap
	

.graphic__sticky
	padding 0 1rem
	order 1
	width 100%
	transform translate3d(0, 0, 0)
	background #fff
	
	+mq('bp-4')
		width 45%
		position absolute
		padding 1rem 3rem
		top 0
		right 0
	
	&.is-fixed
		position fixed
	&.is-bottom
		top auto
		bottom 0