.graphic__ui
	width 100%
	margin 0 auto
	padding 1rem 0
	display flex
	flex-wrap wrap
	justify-content flex-start

	.ui-label
		color $gray
		font-size 0.7rem
	.ui__search
		display flex
		margin-top 2rem
		flex-wrap wrap
		justify-content center
	
	.search__input
		input
			width 8rem
			border none
			border-bottom 1px solid $off-black
			font-size 0.8rem
			color $gray-dark
			line-height 1.5
	
	.search__label
		margin-left 0.5rem
		svg
			vertical-align baseline
			transform translateY(25%)
			width 1rem
			height 1.25rem
			fill $gray-dark

	.ui__category 
		flex-grow 0
	.category__options
		display flex
		margin-right 2rem
		li 
			margin 0.25em 0
			padding 0.25em 0.5em
			font-size 0.8rem
			border-top 1px solid $gray
			border-right 1px solid $gray
			border-bottom 1px solid $gray
			background-color white
			&.is-selected
				background-color $gray
			&:first-child
				border-left 1px solid $gray
				border-bottom-left-radius 3px
				border-top-left-radius 3px
			&:last-child
				border-bottom-right-radius 3px
				border-top-right-radius 3px
	
.result
	color $gray-dark
	font-size 0.75rem
	&__title
		color $blue
		text-decoration underline
		font-weight bold
		cursor pointer