.graphic__video
	width 100%
	text-align center
	.year__label
		margin-top 0.5rem
		color $off-black
		line-height 1.25
		padding-bottom 0.25rem
	.meta__label
		font-size 0.74rem
		font-weight 400
		color grey-dark
		padding-bottom 1rem
		+mq('bp-4')
			border-bottom 1px solid $gray-light

	.label__decade
		text-transform capitalize
		display block
		color $gray
		font-size 0.73rem
		padding-bottom 0.2em
		padding-top 0.5em
	.label__index
		margin-right 0.25em

	.label__title
		font-size 1rem
		font-weight 500
		line-height 1.2
		+mq('bp-4')
			font-size 1.3rem
		
		