.graphic__video
	width 100%
	
	.year__label
		margin-top 0.5rem
		color $red
	.meta__label
		font-size 0.75rem
		color $gray

	// .label__year
	// 	text-transform capitalize
	// 	font-weight bold
	// 	padding-bottom 0.25rem
	// 	display none

	.label__index
		// position absolute
		// top 0
		// left 0
		// transform translateX(-125%)
		margin-right 0.25em
	.label__title
		font-size 1rem
		font-weight 500
		line-height 1.2
		
		