.graphic__video
	width 40%
	padding 1rem

	.year__label
		font-size 0.8rem
		padding-bottom 0.25em

	.label__year
		text-transform capitalize
		font-weight bold
		padding-bottom 0.25rem

	.label__title
		color #7d7d7d
		margin-left 0.5em