<footer>
	<div class='footer-social'>
		<p class='footer-social__preach'>Share this study</p>
		<div class='footer-social__icons'>
			<div class='footer-social__icon fb-like' data-href='' data-layout='button_count' data-action='like' data-size='large' data-show-faces='true' data-share='false'></div>
				<div class='footer-social__icon'>
				<a href='https://twitter.com/share' data-size='large' class='twitter-share-button'>Tweet</a>
			</div>
		</div>
	</div>
	<div id="fb-root"></div>
	<div class='outro'>
		<p class='outro__hed'>About</p>
  		<p><a href="https://googletrends.github.io/google_nba/">The Most-Watched NBA Moments</a> is a collaboration between the <a href="http://newslab.withgoogle.com/">Google News Lab</a> and <a href="http://polygraph.cool/">Polygraph</a>.</p>
		<p class='outro__hed'>Methodology</p>
  		<p>We examined over 200,000 NBA-related videos on YouTube and identified game-played and player highlighted. Views for videos with the same moment were aggregated.</p>
	</div>
	<a class='logo__google' href="http://newslab.withgoogle.com">
		@@include('google-news-lab.svg')
	</a>
</footer>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
