<div class='graphic__ui'>
	<div class='ui__search'>
		<p class='search__label'>Search</p>
		<div class='search__input'>
			<input placeholder='Player...'>
		</div>
	</div>
</div>
<div class='graphic'>
	<div class='graphic__chart'></div>
	<div class='graphic__video'></div>
</div>
<div class='spacer'></div>