<div class='graphic'>
	<div class='graphic__chart'>
		<div class='border-top'>
			<p class='border-top__text'>Explore plays</p>
		</div>
	</div>
	<div class='graphic__sticky'>
		<div class='border-top'>
			<p class='border-top__text'>Watch plays</p>
		</div>
		<div class='graphic__video'></div>
		<div class='graphic__ui'>
			<div class='ui__search'>
				<p class='search__label'>Search</p>
				<div class='search__input'>
					<input placeholder='Player...'>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='spacer'></div>
