<div class='intro'>
	<div class='intro__logo'>@@include('google-news-lab.svg')</div>
	<h1 class='intro__hed'>The Most-Watched NBA plays, by Decade</h1>
	<p class='intro__dek'>How this season's most-viewed plays on YouTube compare to every decade since 1980.</p>
</div>