<div class='intro'>
	<div class='intro__logo'><a href='http://newslab.withgoogle.com' target='_blankk'>@@include('google-news-lab.svg')</a></div>
	<h1 class='intro__hed'>The Most-Watched<br>NBA plays, by Decade</h1>
	<!-- <p class='intro__dek'>How this season's most-viewed plays on YouTube compare to every decade since 1980.</p> -->
	<p class='intro__desc'>What is the most-watched NBA play of all-time? We identified over 200,000 NBA videos and categorized each by game and play. Here are the #1 videos for each decade.</p>
	<p class='intro__update'><span>Updates daily through the NBA Finals, June 2017</span></p>

</div>
